.container{
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
}

.stack{
    background-color: #faf9f9;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
}

.pop{
    margin: 10px;
}

.columns{
    border: 1px solid #333;
    padding: 10px 10px;
    text-align: center;
}

.list{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-gap: 2px;
}

.arrayValues{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-gap: 2px;
}

.list_columns{
    border: 1px solid #333;
    padding: 5px 5px;
    text-align: center;
    
}

.pop_columns{
    border: 1px solid #ba265d;
    padding: 5px 5px;
    text-align: center;
}